.u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/cannabis-CBD.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 496px;
}

.u-section-1-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: Unlock;
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 267px 0 0 auto;
}

.u-section-1-1 .u-text-2 {
  font-family: Cairo;
  letter-spacing: 1px;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  font-size: 1.875rem;
  margin: 30px -1px 60px 292px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 409px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 192px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-block-5927-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-5927-3 {
  position: absolute;
  left: 0;
}

.u-block-5927-4 {
  position: absolute;
  right: 0;
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 852px;
}

.u-section-2 .u-group-1 {
  width: 431px;
  min-height: 468px;
  margin: 60px 0 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-shape-1 {
  width: 950px;
  height: 585px;
  background-image: none;
  margin: -732px auto 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1002px;
  margin: -509px 48px -152px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 394px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 40px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 22px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 210px;
}

.u-section-2 .u-image-1 {
  width: 251px;
  height: 122px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-image-2 {
  min-height: 637px;
  background-image: url("../images/hgh.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 50px;
  }

  .u-section-2 .u-shape-1 {
    width: 838px;
    height: 535px;
    margin-top: -694px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 898px;
    margin: -475px auto -63px 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 391px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 35px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 197px;
  }

  .u-section-2 .u-image-1 {
    width: 235px;
    height: 115px;
  }

  .u-section-2 .u-image-2 {
    min-height: 588px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-2 .u-group-1 {
    width: 322px;
    margin-top: 55px;
  }

  .u-section-2 .u-shape-1 {
    width: 590px;
    height: 439px;
    margin-top: -583px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 677px;
    margin-top: -410px;
    margin-bottom: -153px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 356px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 153px;
  }

  .u-section-2 .u-image-1 {
    width: 180px;
    height: 88px;
  }

  .u-section-2 .u-image-2 {
    min-height: 509px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1215px;
  }

  .u-section-2 .u-group-1 {
    width: 424px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-1 {
    width: 479px;
    height: 442px;
    margin-top: -1105px;
    margin-left: -2px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 430px;
    margin-top: -380px;
    margin-bottom: -354px;
    margin-left: 47px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 258px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 227px;
  }

  .u-section-2 .u-image-1 {
    width: 270px;
    height: 132px;
  }

  .u-section-2 .u-image-2 {
    min-height: 687px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-2 .u-group-1 {
    width: 275px;
    margin-top: 39px;
  }

  .u-section-2 .u-shape-1 {
    height: 389px;
    width: 302px;
    margin-top: -730px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 276px;
    margin-top: -373px;
    margin-bottom: -231px;
    margin-left: 26px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 261px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 20px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 143px;
  }

  .u-section-2 .u-image-1 {
    width: 170px;
    height: 83px;
  }

  .u-section-2 .u-image-2 {
    min-height: 433px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 162px;
}

.u-section-3 .u-text-1 {
  font-weight: 900;
  letter-spacing: 3px;
  margin: 50px 0 59px;
}.u-section-4 .u-sheet-1 {
  min-height: 865px;
}

.u-section-4 .u-blog-1 {
  margin-bottom: 60px;
  margin-top: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 652px;
}

.u-section-4 .u-repeater-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 24px;
}

.u-section-4 .u-group-1 {
  min-height: 98px;
  margin: 20px 1px 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-4 .u-text-1 {
  margin: 0 -1px;
}

.u-section-4 .u-image-1 {
  background-image: url("images/blog_image_princ.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-group-3 {
  width: 323px;
  min-height: 275px;
  margin: 6px auto 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-text-2 {
  margin: 0 2px;
}

.u-section-4 .u-group-4 {
  width: 324px;
  min-height: 102px;
  margin: 30px auto 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px 10px 32px 158px;
}

.u-section-4 .u-btn-1 {
  margin-bottom: 0;
  margin-top: 0;
  border-style: solid;
}

.u-section-4 .u-repeater-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-6 {
  padding: 20px 24px;
}

.u-section-4 .u-group-5 {
  min-height: 98px;
  margin: 20px 1px 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 10px 0;
}

.u-section-4 .u-text-3 {
  margin: 0 -1px;
}

.u-section-4 .u-image-2 {
  background-image: url("images/blog_image_princ.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-group-7 {
  width: 323px;
  min-height: 275px;
  margin: 6px auto 0;
}

.u-section-4 .u-container-layout-9 {
  padding: 0;
}

.u-section-4 .u-text-4 {
  margin: 0 2px;
}

.u-section-4 .u-group-8 {
  width: 324px;
  min-height: 102px;
  margin: 30px auto 0;
}

.u-section-4 .u-container-layout-10 {
  padding: 10px 10px 32px 158px;
}

.u-section-4 .u-btn-2 {
  margin-bottom: 0;
  margin-top: 0;
  border-style: solid;
}

.u-section-4 .u-repeater-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-11 {
  padding: 20px 24px;
}

.u-section-4 .u-group-9 {
  min-height: 98px;
  margin: 20px 1px 0;
}

.u-section-4 .u-container-layout-12 {
  padding: 10px 0;
}

.u-section-4 .u-text-5 {
  margin: 0 -1px;
}

.u-section-4 .u-image-3 {
  background-image: url("images/blog_image_princ.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-13 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-group-11 {
  width: 323px;
  min-height: 275px;
  margin: 6px auto 0;
}

.u-section-4 .u-container-layout-14 {
  padding: 0;
}

.u-section-4 .u-text-6 {
  margin: 0 2px;
}

.u-section-4 .u-group-12 {
  width: 324px;
  min-height: 102px;
  margin: 30px auto 0;
}

.u-section-4 .u-container-layout-15 {
  padding: 10px 10px 32px 158px;
}

.u-section-4 .u-btn-3 {
  margin-bottom: 0;
  margin-top: 0;
  border-style: solid;
}

.u-section-4 .u-repeater-item-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-16 {
  padding: 20px 24px;
}

.u-section-4 .u-group-13 {
  min-height: 98px;
  margin: 20px 1px 0;
}

.u-section-4 .u-container-layout-17 {
  padding: 10px 0;
}

.u-section-4 .u-text-7 {
  margin: 0 -1px;
}

.u-section-4 .u-image-4 {
  background-image: url("images/blog_image_princ.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-18 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-group-15 {
  width: 323px;
  min-height: 275px;
  margin: 6px auto 0;
}

.u-section-4 .u-container-layout-19 {
  padding: 0;
}

.u-section-4 .u-text-8 {
  margin: 0 2px;
}

.u-section-4 .u-group-16 {
  width: 324px;
  min-height: 102px;
  margin: 30px auto 0;
}

.u-section-4 .u-container-layout-20 {
  padding: 10px 10px 32px 158px;
}

.u-section-4 .u-btn-4 {
  margin-bottom: 0;
  margin-top: 0;
  border-style: solid;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-blog-1 {
    min-height: 375px;
  }

  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 146px;
    margin-top: -5px;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-group-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    min-height: 146px;
    margin-top: -5px;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-8 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-group-9 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    min-height: 146px;
    margin-top: -5px;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-13 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-group-13 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-4 {
    min-height: 146px;
    margin-top: -5px;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-18 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-container-layout-15 {
    padding-left: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-container-layout-20 {
    padding-left: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 10px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-15 {
    padding-left: 10px;
  }

  .u-section-4 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-20 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-3 {
    width: 320px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 1px;
    margin-left: 1px;
  }

  .u-section-4 .u-group-4 {
    width: 320px;
  }

  .u-section-4 .u-group-7 {
    width: 320px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 1px;
    margin-left: 1px;
  }

  .u-section-4 .u-group-8 {
    width: 320px;
  }

  .u-section-4 .u-group-11 {
    width: 320px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 1px;
    margin-left: 1px;
  }

  .u-section-4 .u-group-12 {
    width: 320px;
  }

  .u-section-4 .u-group-15 {
    width: 320px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 1px;
    margin-left: 1px;
  }

  .u-section-4 .u-group-16 {
    width: 320px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 400px;
}

.u-section-5 .u-group-1 {
  width: 800px;
  min-height: 250px;
  animation-duration: 1000ms;
  margin: 60px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
  }
}