 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 570px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 510px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 344px;
  height: 344px;
  background-image: url("../images/Avatar.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 20px 14px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 510px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 62px 0 0;
}

.u-section-1 .u-image-2 {
  width: 322px;
  height: 157px;
  margin: 60px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 421px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 300px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 475px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 296px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 10px 0;
  }

  .u-section-1 .u-image-1 {
    width: 256px;
    height: 256px;
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 40px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 42px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 0;
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    width: 278px;
    height: 278px;
    margin-top: 18px;
    margin-bottom: -7px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 156px;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1130px;
}

.u-section-2 .u-group-1 {
  min-height: 1029px;
  background-image: none;
  animation-duration: 1000ms;
  margin-top: 51px;
  margin-bottom: 51px;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 40px 60px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 3rem;
  margin: 85px 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.9;
  font-size: 1.125rem;
  margin: 67px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1066px;
  }

  .u-section-2 .u-group-1 {
    min-height: 1065px;
    margin-top: 0;
    margin-bottom: 1px;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 27px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1402px;
  }

  .u-section-2 .u-group-1 {
    min-height: 1401px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2716px;
  }

  .u-section-2 .u-group-1 {
    min-height: 2716px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 17px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 222px;
}

.u-section-3 .u-group-1 {
  min-height: 172px;
  background-image: none;
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-1 {
  background-image: none;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 25px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-3 .u-group-1 {
    min-height: 201px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding: 9px 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 400px;
}

.u-section-4 .u-image-1 {
  min-height: 400px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("../images/projetos.png");
  width: 1140px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    min-height: 340px;
    width: 940px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 272px;
  }

  .u-section-4 .u-image-1 {
    min-height: 270px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 194px;
  }

  .u-section-4 .u-image-1 {
    min-height: 192px;
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 150px;
  }

  .u-section-4 .u-image-1 {
    min-height: 149px;
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 619px;
}

.u-section-5 .u-slider-1 {
  width: 820px;
  min-height: 553px;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1);
  margin: 1px auto 60px;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-carousel-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-image-1 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
  animation-duration: 2000ms;
  transition-duration: 1s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-5 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-carousel-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-5 .u-image-2 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
  animation-duration: 2000ms;
  transition-duration: 1s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-5 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-5 .u-carousel-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-5 .u-image-3 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
  animation-duration: 2000ms;
  transition-duration: 1s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-5 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
}

.u-section-5 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-5 .u-carousel-item-4 {
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-5 .u-image-4 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
  animation-duration: 2000ms;
  transition-duration: 1s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-5 .u-text-7 {
  margin: 20px auto 0;
}

.u-section-5 .u-btn-4 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
}

.u-section-5 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-carousel-item-5 {
  background-image: none;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px 60px;
}

.u-section-5 .u-image-5 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
  animation-duration: 2000ms;
  transition-duration: 1s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-5 .u-text-9 {
  margin: 20px auto 0;
}

.u-section-5 .u-btn-6 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
}

.u-section-5 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-5 .u-carousel-item-6 {
  background-image: none;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px 60px;
}

.u-section-5 .u-image-6 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
  animation-duration: 2000ms;
  transition-duration: 1s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-5 .u-text-11 {
  margin: 20px auto 0;
}

.u-section-5 .u-btn-7 {
  background-image: none;
  border-style: solid;
}

.u-section-5 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-5 .u-carousel-item-7 {
  background-image: none;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px 60px;
}

.u-section-5 .u-image-7 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
  animation-duration: 2000ms;
  transition-duration: 1s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-5 .u-text-13 {
  margin: 20px auto 0;
}

.u-section-5 .u-btn-8 {
  background-image: none;
  border-style: solid;
}

.u-section-5 .u-text-14 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-carousel-item-8 {
  background-image: none;
}

.u-section-5 .u-container-layout-8 {
  padding: 30px 60px;
}

.u-section-5 .u-image-8 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
  animation-duration: 2000ms;
  transition-duration: 1s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-5 .u-text-15 {
  margin: 20px auto 0;
}

.u-section-5 .u-btn-10 {
  background-image: none;
  border-style: solid;
}

.u-section-5 .u-text-16 {
  margin: 20px 0 0;
}

.u-section-5 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
  background-image: none;
  left: 20px;
  position: absolute;
  right: auto;
}

.u-section-5 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-slider-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-slider-1 {
    width: 720px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-5 .u-slider-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-5 .u-slider-1 {
    min-height: 549px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-1 {
    height: 145px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-btn-1 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }

  .u-section-5 .u-image-2 {
    height: 145px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 19px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-btn-2 {
    font-size: 1rem;
  }

  .u-section-5 .u-text-4 {
    margin-top: 36px;
  }

  .u-section-5 .u-image-3 {
    height: 145px;
  }

  .u-section-5 .u-btn-3 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-image-4 {
    height: 145px;
  }

  .u-section-5 .u-btn-4 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-image-5 {
    height: 145px;
  }

  .u-section-5 .u-btn-6 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-image-6 {
    height: 145px;
  }

  .u-section-5 .u-image-7 {
    height: 145px;
  }

  .u-section-5 .u-image-8 {
    height: 145px;
  }

  .u-section-5 .u-carousel-control-1 {
    top: 90px;
  }

  .u-section-5 .u-carousel-control-2 {
    top: 90px;
  }
}

.u-section-5 .u-image-1 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-5 .u-image-1:hover {
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-5 .u-image-2 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-5 .u-image-2:hover {
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-5 .u-image-3 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-5 .u-image-3:hover {
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-5 .u-image-4 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-5 .u-image-4:hover {
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-5 .u-image-5 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-5 .u-image-5:hover {
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-5 .u-image-6 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-5 .u-image-6:hover {
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-5 .u-image-7 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-5 .u-image-7:hover {
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-5 .u-image-8 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-5 .u-image-8:hover {
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1) !important;
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 574px;
}

.u-section-6 .u-group-1 {
  width: 936px;
  min-height: 211px;
  background-image: none;
  margin: 50px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0;
}

.u-section-6 .u-text-1 {
  background-image: none;
  font-size: 1.5rem;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 31px 0 0;
}

.u-section-6 .u-group-2 {
  width: 516px;
  min-height: 164px;
  margin: 50px auto 60px;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-6 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.875rem;
  margin: 32px auto 0;
}

.u-section-6 .u-icon-1 {
  width: 32px;
  height: 32px;
  background-image: none;
  color: rgb(3, 155, 229) !important;
  margin: 32px 130px 0 auto;
}

.u-section-6 .u-icon-2 {
  width: 32px;
  height: 32px;
  margin: -32px auto 0;
}

.u-section-6 .u-icon-3 {
  width: 32px;
  height: 32px;
  margin: -32px auto 0 130px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    min-height: 222px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-group-2 {
    margin-top: 60px;
  }

  .u-section-6 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-6 .u-icon-1 {
    margin-right: 150px;
  }

  .u-section-6 .u-icon-3 {
    margin-left: 150px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: 720px;
  }

  .u-section-6 .u-icon-1 {
    margin-right: auto;
    margin-left: 150px;
  }

  .u-section-6 .u-icon-3 {
    margin-right: 150px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-6 .u-group-1 {
    min-height: 302px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-group-2 {
    margin-top: 68px;
  }

  .u-section-6 .u-icon-1 {
    margin-right: 150px;
    margin-left: auto;
  }

  .u-section-6 .u-icon-3 {
    margin-right: auto;
    margin-left: 150px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-2 {
    width: 340px;
    min-height: 182px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 50px;
    margin-right: 99px;
    margin-left: 62px;
  }

  .u-section-6 .u-icon-3 {
    margin-right: 62px;
    margin-left: auto;
  }
}