 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 570px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 510px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 344px;
  height: 344px;
  background-image: url("../images/Avatar.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 20px 14px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 510px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 62px 0 0;
}

.u-section-1 .u-image-2 {
  width: 322px;
  height: 157px;
  margin: 60px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 421px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 300px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 475px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 296px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 10px 0;
  }

  .u-section-1 .u-image-1 {
    width: 256px;
    height: 256px;
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 40px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 42px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 0;
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    width: 278px;
    height: 278px;
    margin-top: 18px;
    margin-bottom: -7px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 156px;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 936px;
}

.u-section-2 .u-group-1 {
  min-height: 1016px;
  background-image: none;
  animation-duration: 1000ms;
  margin-top: -80px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 40px 60px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 3rem;
  margin: 67px 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.9;
  font-size: 1.125rem;
  margin: 67px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1066px;
  }

  .u-section-2 .u-group-1 {
    min-height: 1065px;
    margin-top: 0;
    margin-bottom: 1px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 27px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1402px;
  }

  .u-section-2 .u-group-1 {
    min-height: 1401px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2716px;
  }

  .u-section-2 .u-group-1 {
    min-height: 2716px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 17px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 443px;
}

.u-section-3 .u-group-1 {
  min-height: 168px;
  background-image: none;
  margin-top: 100px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-1 {
  background-image: none;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 4.5rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: "Archivo Black";
  margin: 100px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 9px 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    font-size: 3rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1477px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: 100px auto 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  grid-gap: 22px 22px;
  min-height: 1377px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 0 19px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 29px 20px 0;
}

.u-section-4 .u-image-1 {
  width: 355px;
  height: 162px;
  animation-duration: 2250ms;
  margin: 29px auto 0;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 2px;
  font-family: "Open Sans", sans-serif;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 15px auto 0;
  padding: 2px 58px 2px 57px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 19px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 29px 20px 0;
}

.u-section-4 .u-image-2 {
  width: 355px;
  height: 162px;
  animation-duration: 2250ms;
  margin: 29px auto 0;
}

.u-section-4 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  background-image: none;
  margin: 15px auto 0;
  padding: 2px 58px 2px 57px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 0 19px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 29px 20px 0;
}

.u-section-4 .u-image-3 {
  width: 355px;
  height: 162px;
  animation-duration: 2250ms;
  margin: 29px auto 0;
}

.u-section-4 .u-btn-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  background-image: none;
  margin: 15px auto 0;
  padding: 2px 58px 2px 57px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 0 19px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 29px 20px 0;
}

.u-section-4 .u-image-4 {
  width: 355px;
  height: 162px;
  animation-duration: 2250ms;
  margin: 29px auto 0;
}

.u-section-4 .u-btn-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  background-image: none;
  margin: 15px auto 0;
  padding: 2px 58px 2px 57px;
}

.u-section-4 .u-container-layout-5 {
  padding: 0 0 19px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 29px 20px 0;
}

.u-section-4 .u-image-5 {
  width: 355px;
  height: 162px;
  animation-duration: 2250ms;
  margin: 29px auto 0;
}

.u-section-4 .u-btn-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  background-image: none;
  margin: 15px auto 0;
  padding: 2px 58px 2px 57px;
}

.u-section-4 .u-container-layout-6 {
  padding: 0 0 19px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 29px 20px 0;
}

.u-section-4 .u-image-6 {
  width: 355px;
  height: 162px;
  animation-duration: 2250ms;
  margin: 29px auto 0;
}

.u-section-4 .u-btn-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  background-image: none;
  margin: 15px auto 0;
  padding: 2px 58px 2px 57px;
}

.u-section-4 .u-container-layout-7 {
  padding: 0 0 19px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 29px 20px 0;
}

.u-section-4 .u-image-7 {
  width: 355px;
  height: 162px;
  animation-duration: 2250ms;
  margin: 29px auto 0;
}

.u-section-4 .u-btn-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  background-image: none;
  margin: 15px auto 0;
  padding: 2px 58px 2px 57px;
}

.u-section-4 .u-container-layout-8 {
  padding: 0 0 19px;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 29px 20px 0;
}

.u-section-4 .u-image-8 {
  width: 355px;
  height: 162px;
  animation-duration: 2250ms;
  margin: 29px auto 0;
}

.u-section-4 .u-btn-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  background-image: none;
  margin: 15px auto 0;
  padding: 2px 58px 2px 57px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1313px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    padding-right: 66px;
    padding-left: 64px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    height: 161px;
  }

  .u-section-4 .u-btn-2 {
    border-style: solid;
    padding-right: 66px;
    padding-left: 64px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    height: 161px;
  }

  .u-section-4 .u-btn-3 {
    border-style: solid;
    padding-right: 66px;
    padding-left: 64px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-4 {
    height: 161px;
  }

  .u-section-4 .u-btn-4 {
    border-style: solid;
    padding-right: 66px;
    padding-left: 64px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-5 {
    height: 161px;
  }

  .u-section-4 .u-btn-5 {
    border-style: solid;
    padding-right: 66px;
    padding-left: 64px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-6 {
    height: 161px;
  }

  .u-section-4 .u-btn-6 {
    border-style: solid;
    padding-right: 66px;
    padding-left: 64px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-7 {
    height: 161px;
  }

  .u-section-4 .u-btn-7 {
    border-style: solid;
    padding-right: 66px;
    padding-left: 64px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-8 {
    height: 161px;
  }

  .u-section-4 .u-btn-8 {
    border-style: solid;
    padding-right: 66px;
    padding-left: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1334px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 17px;
  }

  .u-section-4 .u-image-1 {
    width: 299px;
    height: 112px;
    margin-top: 25px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 25px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 17px;
  }

  .u-section-4 .u-image-2 {
    width: 299px;
    height: 112px;
    margin-top: 25px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 25px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 17px;
  }

  .u-section-4 .u-image-3 {
    width: 299px;
    height: 112px;
    margin-top: 25px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 25px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 17px;
  }

  .u-section-4 .u-image-4 {
    width: 299px;
    height: 112px;
    margin-top: 25px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 25px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 17px;
  }

  .u-section-4 .u-image-5 {
    width: 299px;
    height: 112px;
    margin-top: 25px;
  }

  .u-section-4 .u-btn-5 {
    margin-top: 25px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 17px;
  }

  .u-section-4 .u-image-6 {
    width: 299px;
    height: 112px;
    margin-top: 25px;
  }

  .u-section-4 .u-btn-6 {
    margin-top: 25px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 17px;
  }

  .u-section-4 .u-image-7 {
    width: 299px;
    height: 112px;
    margin-top: 25px;
  }

  .u-section-4 .u-btn-7 {
    margin-top: 25px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 17px;
  }

  .u-section-4 .u-image-8 {
    width: 299px;
    height: 112px;
    margin-top: 25px;
  }

  .u-section-4 .u-btn-8 {
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1999px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-1 {
    height: 71px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-2 {
    height: 71px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-3 {
    height: 71px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-4 {
    height: 71px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-5 {
    height: 71px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-6 {
    height: 71px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-7 {
    height: 71px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-8 {
    height: 71px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 574px;
}

.u-section-5 .u-group-1 {
  width: 936px;
  min-height: 211px;
  background-image: none;
  margin: 50px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0;
}

.u-section-5 .u-text-1 {
  background-image: none;
  font-size: 1.5rem;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 31px 0 0;
}

.u-section-5 .u-group-2 {
  width: 516px;
  min-height: 164px;
  margin: 50px auto 60px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.875rem;
  margin: 32px auto 0;
}

.u-section-5 .u-icon-1 {
  width: 32px;
  height: 32px;
  background-image: none;
  color: rgb(3, 155, 229) !important;
  margin: 32px 130px 0 auto;
}

.u-section-5 .u-icon-2 {
  width: 32px;
  height: 32px;
  margin: -32px auto 0;
}

.u-section-5 .u-icon-3 {
  width: 32px;
  height: 32px;
  margin: -32px auto 0 130px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    min-height: 222px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-5 .u-group-2 {
    margin-top: 60px;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-5 .u-icon-1 {
    margin-right: 150px;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 150px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 720px;
  }

  .u-section-5 .u-icon-1 {
    margin-right: auto;
    margin-left: 150px;
  }

  .u-section-5 .u-icon-3 {
    margin-right: 150px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-5 .u-group-1 {
    min-height: 302px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-2 {
    margin-top: 68px;
  }

  .u-section-5 .u-icon-1 {
    margin-right: 150px;
    margin-left: auto;
  }

  .u-section-5 .u-icon-3 {
    margin-right: auto;
    margin-left: 150px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-2 {
    width: 340px;
    min-height: 182px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 50px;
    margin-right: 99px;
    margin-left: 62px;
  }

  .u-section-5 .u-icon-3 {
    margin-right: 62px;
    margin-left: auto;
  }
}