.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 62px;
}

.u-section-1 .u-line-1 {
  height: 3px;
  margin-top: 30px;
  margin-bottom: 30px;
  transform-origin: left center 0px;
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 345px;
}

.u-section-2 .u-group-1 {
  min-height: 145px;
  margin-top: 100px;
  margin-bottom: 60px;
  background-image: none;
  animation-duration: 3250ms;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 354px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 62px;
}

.u-section-3 .u-line-1 {
  height: 3px;
  margin-top: 30px;
  margin-bottom: 30px;
  transform-origin: left center 0px;
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 571px;
}

.u-section-4 .u-group-1 {
  min-height: 571px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 168px;
}

.u-section-4 .u-image-1 {
  width: 796px;
  height: 356px;
  margin: 42px auto 0 4px;
}

.u-section-4 .u-text-1 {
  margin: 30px 0 0 4px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    height: 270px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 232px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    width: 340px;
    height: 143px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 62px;
}

.u-section-5 .u-line-1 {
  height: 3px;
  margin-top: 30px;
  margin-bottom: 30px;
  transform-origin: left center 0px;
}.u-section-6 .u-sheet-1 {
  min-height: 262px;
}

.u-section-6 .u-list-1 {
  margin-bottom: 50px;
  margin-top: 0;
}

.u-section-6 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 212px;
}

.u-section-6 .u-container-layout-1 {
  padding: 27px 30px 27px 40px;
}

.u-section-6 .u-icon-1 {
  width: 155px;
  height: 155px;
  background-image: none;
  margin: 3px auto 0 0;
}

.u-section-6 .u-text-1 {
  font-size: 1.125rem;
  margin: -127px 107px 0 205px;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 31px 120px 0 auto;
  padding: 11px 31px 12px;
}

.u-section-6 .u-container-layout-2 {
  padding: 27px 30px 27px 40px;
}

.u-section-6 .u-icon-2 {
  width: 155px;
  height: 155px;
  background-image: none;
  margin: 3px auto 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  margin: -127px 107px 0 205px;
}

.u-section-6 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 31px 120px 0 auto;
  padding: 11px 31px 12px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    min-height: 175px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 105px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 105px;
  }

  .u-section-6 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 34px;
    margin-left: 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 34px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 262px;
}

.u-section-7 .u-list-1 {
  margin-bottom: 50px;
  margin-top: 0;
}

.u-section-7 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 212px;
}

.u-section-7 .u-container-layout-1 {
  padding: 27px 30px 27px 40px;
}

.u-section-7 .u-icon-1 {
  width: 155px;
  height: 155px;
  background-image: none;
  margin: 3px auto 0 0;
}

.u-section-7 .u-text-1 {
  font-size: 1rem;
  margin: -108px 67px 0 203px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-text-2 {
  font-size: 1rem;
  margin: 50px 67px 0 205px;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 27px 30px 27px 40px;
}

.u-section-7 .u-icon-2 {
  width: 155px;
  height: 155px;
  background-image: none;
  margin: 3px auto 0 0;
}

.u-section-7 .u-text-3 {
  font-size: 1rem;
  margin: -108px 67px 0 203px;
}

.u-section-7 .u-btn-3 {
  background-image: none;
  border-style: none;
  padding: 0;
}

.u-section-7 .u-text-4 {
  font-size: 1rem;
  margin: 50px 67px 0 205px;
}

.u-section-7 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-repeater-1 {
    min-height: 175px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 70px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
    margin-left: 72px;
  }

  .u-section-7 .u-icon-2 {
    color: rgb(71, 138, 201) !important;
  }

  .u-section-7 .u-text-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 70px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
    margin-left: 72px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 34px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 34px;
    margin-left: 0;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 62px;
}

.u-section-8 .u-line-1 {
  height: 3px;
  margin-top: 30px;
  margin-bottom: 30px;
  transform-origin: left center 0px;
}.u-section-9 .u-sheet-1 {
  min-height: 332px;
}

.u-section-9 .u-group-1 {
  width: 800px;
  min-height: 250px;
  margin: 42px auto;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin: 0 1px;
}

.u-section-9 .u-text-2 {
  margin: 19px 1px 0;
}

.u-section-9 .u-icon-1 {
  color: rgb(104, 241, 103) !important;
}

.u-section-9 .u-icon-2 {
  color: rgb(104, 241, 103) !important;
}

.u-section-9 .u-icon-3 {
  margin-top: 0;
}

@media (max-width: 991px) {
  .u-section-9 .u-group-1 {
    width: 720px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-group-1 {
    width: 540px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-group-1 {
    width: 340px;
  }
}.u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 62px;
}

.u-section-10 .u-line-1 {
  height: 3px;
  margin-top: 30px;
  margin-bottom: 30px;
  transform-origin: left center 0px;
}.u-section-11 .u-sheet-1 {
  min-height: 208px;
}

.u-section-11 .u-group-1 {
  width: 800px;
  min-height: 107px;
  margin: 50px auto 49px;
}

.u-section-11 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-11 .u-text-1 {
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-group-1 {
    width: 540px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-group-1 {
    width: 340px;
  }
}.u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 62px;
}

.u-section-12 .u-line-1 {
  height: 3px;
  margin-top: 30px;
  margin-bottom: 30px;
  transform-origin: left center 0px;
}