body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%; /* Padrão: 16px,  %(porcentagem) 100% = 16px, em(Medida Escalável com base da hierarquia) 16px = 1 em, rem((Medida Escalável com base na Raiz principal) 16px = 1 rem */
  font-weight: normal;
  font-style: normal;
  line-height: 1.5; /* peso do tamanho da linha, peso 1 = font-size*/
  color: black;
}

.site-container {
    /*border: 2px solid black;*/
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.site-header {
    /* background-color: silver; */
    height:auto;    
    overflow: visible;
}

  .site-header .logo a {
    /* background-color: gold; */
    display: block;
    background-image: url(../images/ford-logo.webp);
    background-repeat: no-repeat; 
    /*repeat x ou y são corodenadas de repetição*/
    background-position: 15px 20px;
    /*background-position: (x) (y);*/
    width: 300px;
    height: 150px;
    text-indent: -50000px;
  }

  .menu__item {
        /*border: 2px solid black;*/
        display: block;
        float: left;
        width: 200px;
        text-align: center;
        line-height: 2.5;
        background-color:midnightblue;
        color:white;
        text-decoration: none;
        /*display inline NÃO ACEITA largura e altura*/
        /*display block  ACEITA largura e altura*/
        /*display inline-block [BUG de renderização em todos os browsers]  ACEITA largura e altura*/
  }
/*Herança do CSS: Todos herdam a herança do ancestral(maior hierarquia)*/
/* Hyperlinks não aceitam a herança hierarquica do CSS*/
  
  .menu__item:hover, .menu__item--active {
    background-color: dodgerblue;
    color: black;

  }

  .menu__item a {
    text-decoration: inherit;
    color:inherit;
    display: inherit;
    /*inherit: forçar a herança da hierarquia do ancestral */
  }

.site-main {
    height: auto;
    /*background-color:cyan;*/
}

.highlight {
  position: relative;

 }

  .highlight__image { 
    display: block;

  }

  .highlight__title { 
    font-size:  3em;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    text-transform: uppercase;
    font-style: italic;
    position: absolute;
    bottom: 25px;
    right: 25px;
    padding: 16px;
    /*opacity: 0.2;*/
  }  

  .section-wrapper {
    min-height:  600px;
  }

  section[role="content"] {
    /*background-color:chartreuse;*/
    width: 900px;
    min-height: inherit;
    float: left;
    padding: 16px;
  }

    .post {
      /*border: 4px solid;*/
      padding: 0 0 32px;
      
    }

      .post__title {
        font-size:  2.5em;
      }

        .post__description {
          font-size: 1.1em;
        }

  section[role="sidebar"] {
    background-color: #dadada;
    width: 300px;
    min-height: inherit;
    float: right;
    padding: 16px;
  }

    section[role="sidebar"] li {
    line-height: 2.5;
    }

    section[role="sidebar"] a {
    color: dodgerblue;
    font-size: 1.1em;
    text-decoration: none;
    }

    section[role="sidebar"] a:hover {
    text-decoration: underline;
    }

.site-footer {
    height:  auto;
    background-color: black; 
    color:white;
    padding: 32px;
}

.copyrighrt {
  /*border: 4px solid;*/
  float: left;
  line-height: 35px;
}

.social {
 /* border: 4px solid;*/
  float: right;
}

.social a {
    /*background-color: yellow;*/
    width: 35px;
    height: 35px;
    display: block;
    background-image:  url(../images/social-icons.png);
    text-indent: -9000px;
    float: left;
    margin-left: 16px;
}

  .social__fb {    
    background-position: -156px -130px;
  }

  .social__fb:hover {    
    background-position: -156px 0px;
  }

  .social__tw {
    background-position: -117px -130px;
  }

  .social__tw:hover {
    background-position: -117px 0px;
  }

  .social__yt {
    background-position: -546px -130px;
  }

  .social__yt:hover {
    background-position: -546px 0px;
  }